In [17]:
import pandas as pd

students = pd.read_csv("students.csv")

In [19]:
print("First 3 rows:")
print(students.head(3))
print("\nBasic info:")
print(students.info())

First 3 rows:
    Name  Age  Math  English  Science
0  Alice   16    85     78.0       92
1    Bob   17    79     74.0       88
2  Carol   16    91     90.0       95

Basic info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Age      5 non-null      int64
 2   Math     5 non-null      int64
 3   English  4 non-null      float64
 4   Science  5 non-null      int64
dtypes: float64(1), int64(3), object(1)
memory usage: 332.0+ bytes
None