In [12]:
# 1. Load the data from movies.csv
import pandas as pd
df = pd.read_csv('movies.csv')

In [13]:
# 2. Get a quick look of the first 3 rows and last 2 rows
print(df.head(3))
print(df.tail(2))

           Title      Genre  Year  Rating  Duration
0      Inception     Sci-Fi  2010     8.8       148
1  The Lion King  Animation  1994     8.5        88
2        Titanic    Romance  1997     7.8       195
       Title      Genre  Year  Rating  Duration
7      Joker      Drama  2019     8.5       122
8  Frozen II  Animation  2019     6.8       103

In [14]:
# 3. Inspect the structure
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     9 non-null      object
 1   Genre     9 non-null      object
 2   Year      9 non-null      int64
 3   Rating    9 non-null      float64
 4   Duration  9 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 492.0+ bytes
None

In [15]:
# 4. Number of rows
print(df.shape[0])

9

In [16]:
# 5. Number of columns
print(df.shape[1])

5

In [17]:
# 6. Column names
print(df.columns)

Index(['Title', 'Genre', 'Year', 'Rating', 'Duration'], dtype='object')

In [18]:
# 7. Statistical summary of numeric columns
print(df.describe())

              Year    Rating    Duration
count     9.000000  9.000000    9.000000
mean   2007.000000  8.355556  145.888889
std      16.309506  0.689404   37.055514
min    1972.000000  6.800000   88.000000
25%    1997.000000  8.400000  122.000000
50%    2014.000000  8.500000  148.000000
75%    2019.000000  8.600000  175.000000
max    2019.000000  9.200000  195.000000

In [19]:
# 8. Select “Genre” column and assign it to DataFrame named genre
genre = df[['Genre']]
print(genre.head())

       Genre
0     Sci-Fi
1  Animation
2    Romance
3   Thriller
4     Action

In [20]:
# 9. Select “Year” and “Rating” columns and assign them to DataFrame df1
df1 = df[['Year', 'Rating']]
print(df1.head())

   Year  Rating
0  2010     8.8
1  1994     8.5
2  1997     7.8
3  2019     8.6
4  2019     8.4

In [21]:
# 10. Calculate Rating per minute and add as a new column
df['RatingPerMinute'] = df['Rating'] / df['Duration']
print(df[['Title', 'RatingPerMinute']])

               Title  RatingPerMinute
0          Inception         0.059459
1      The Lion King         0.096591
2            Titanic         0.040000
3           Parasite         0.065152
4  Avengers: Endgame         0.046409
5       Interstellar         0.050888
6      The Godfather         0.052571
7              Joker         0.069672
8          Frozen II         0.066019